<div class="container">
        <div class="user-border">
        <div class="user-and-counts">
        <div class="post-by-user">
        <h2 class="post-title">
         <%= @post.title %> By <%= @post.author.name %>
        </h2>
        </div>
      <div class="post-number">
      <span >
      comments: <%= @post.comments.count %>,
     <span> likes: <%= @post.likes.count %>
      </span>
    </div>
    </div>
    <p><%= @post.text %></p>
    </div>

  <div class="comments">
    <% @post.comments.each do |comment| %>
      <div class="single-comment">
        <span><%= comment.author.name %> : <%= comment.text %></span>
      </div>
    <% end %>
  </div>
  
  <div class="like-form"
  <%= form_with model: @like, url: user_post_likes_path(1, @post), scope: :like do |f|%>
    <%= f.submit "Like" %>
  <% end %>
  <button type="button" class="like-button">
  <%= link_to "Comment", new_user_post_comment_path( post_id: @post.id), { class: "comment-link" } %></button>
</div>
</div>